.profile__info {
    display: flex;
    max-width: 336px;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .profile__info {
        max-width: 282px;
        margin: 26px auto 0;
    }
}